<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WebstaurantWebAppTest" verbose="5">
  <test name="WebstaurantSearchItemTest">
    <classes>
      <class name="webstauranttest.WebstaurantSearchItemTest"/>
    </classes>
  </test>  
</suite>